@import url(reset.css);
@import url(katex.css);
@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Alegreya:ital,wght@0,400;0,500;0,700;1,400&display=swap");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --title-multiplier: 1;
}

@media (max-width: 600px) {
  html {
    --title-multiplier: 0.2;
  }
}

.katex {
  font-size: var(--body-font-size) !important;
}

body {
  font-family: var(--font);
  font-size: var(--body-font-size);
  line-height: var(--line-height);
}

main {
  max-width: var(--full-content-size);
  margin: 0 0 0
    clamp(0px, calc((100vw - var(--full-content-size)) * 0.5), 18rem);
  hyphens: auto;
}

@media (max-width: 1010px) {
  main {
    max-width: var(--main-max-size);
    padding: 2rem;
    margin: auto;
  }
}

main .text-body {
  position: relative;
  max-width: var(--main-max-size);
}

b.textbf {
  font-weight: 600;
}

p + p {
  margin-top: var(--par-skip);
}

.macro-label {
  display: block;
  overflow: hidden;
  height: 0;
}

.macro-newthought {
  font-family: var(--font-small-caps);
}

.macro-sidenote {
  font-size: var(--sidenote-font-size);
  display: block;
  width: var(--side-notes-size);
  position: absolute;
  left: calc(var(--main-max-size) + 3rem);
}

@media (max-width: 1010px) {
  .macro-sidenote {
    position: static;
    width: auto;
  }
}

/* LISTS */

ol {
  list-style: decimal;
  margin-left: var(--list-left-margin);
}

li + li {
  margin-top: calc(var(--par-skip) * 0.5);
}

/* TITLES */

h1 {
  font-family: var(--font-small-caps);
  font-size: var(--part-font-size) ;
  line-height: 1;
  hyphens: none;
  margin-top: 75vh;
  margin-bottom: 75vh;
  display: flex;
  align-items: center;
}

h1 + h2 {
  margin-top: 10vh;
}

h2 {
  margin-top: 90vh;
  hyphens: none;
  line-height: 1.2;
  font-size: var(--chapter-font-size);
}

/* HEADER */

.cover {
  line-height: 0.7;
  max-width: var(--main-max-size);
  height: 100vh;
  position: relative;
  margin-bottom: 50vh;
}

.cover .cover__title {
  position: absolute;
  top: 30%;
}

.cover h1 {
  margin-top: 0;
  font-size: min(9rem, 15vw);
}

.cover h3 {
  margin-top: 1rem;
  padding-left: 0.4rem;
  font-size: min(9rem, 7vw);
}

.cover h2 {
  position: absolute;
  bottom: 10%;
  font-size: 3rem;
}

/* DEFINITION ENVIRONMENT */

.environment.definition {
  background-color: var(--box-background-color);
  padding: var(--box-inner-padding);
  border-left: 5px red solid;
  margin: 2rem 0;

  border-radius: var(--box-border-radius);
}

.environment.definition br {
  margin-top: var(--par-skip);
  display: block;
}

.environment.definition .macro-HTMLclassTitle {
  font-weight: bold;
  display: block;
}

/* Theorem environment */

.environment.theorem {
  background-color: var(--box-background-color);
  padding: var(--box-inner-padding);
  margin: 2rem 0;
  border-left: 5px blue solid;
  border-radius: var(--box-border-radius);
}

.environment.theorem br {
  margin-top: var(--par-skip);
  display: block;
}

.environment.theorem .macro-HTMLclassTitle {
  font-weight: bold;
  display: block;
}

/* Proof environment */

.environment.proof {
  background-color: var(--box-background-color);
  padding: var(--box-inner-padding);
  border-left: 5px grey solid;
  margin: 2rem 0;
  border-radius: var(--box-border-radius);
}

.environment.proof br {
  margin-top: var(--par-skip);
  display: block;
}

.environment.proof .macro-HTMLclassTitle {
  font-weight: bold;
  display: block;
}
