:root {
  /* Typography */
  --font: "Alegreya", serif;
  --font-small-caps: "Alegreya Sans SC", sans-serif;
  /* Titles */
  --body-font-size: 2.2rem;
  --sidenote-font-size: 1.8rem;
  --part-font-size: 6rem;
  --chapter-font-size: 4.8rem;
  --section-font-size: 4rem;
  --subsection-font-size: 3.2rem;
  /* Sizes */
  --line-height: 1.5;
  --main-max-size: 680px;
  --side-notes-size: 300px;
  --side-notes-margin: 3rem;
  /* 1010px */
  --full-content-size: calc(
    var(--main-max-size) + var(--side-notes-size) +var(--side-notes-margin)
  );
  /* Spaces */
  --par-skip: 2.5rem;
  --list-left-margin: 4.8rem;
  /* Colors */
  /* Boxes */
  --box-background-color: rgb(240, 240, 240);
  --box-inner-padding: 0.6rem 1rem;
  --box-border-radius: 0.5rem;
}
